@import url('https://fonts.googleapis.com/css2? family=Neonderthaw&display=swap');
:root {
    --fondoweb: rgb(214, 211, 211);
}

body {
    background-color: var(--fondoweb) !important;
}

.canal_youtube {
    font-family: 'Neonderthaw', cursive !important;
    font-size: 30px;
    background-color: white;
    height: 100px;
    width: 1900px;
}



.canal_youtube_text:hover {
	padding: 12px;
    border-radius: 200px !important;
    text-shadow: 3px 2px #6BBE92;
    text-decoration-line: underline;
	opacity: 2 !important;
	
}



.canal_youtube_text {
    text-decoration: none;
    color: rgb(53, 53, 53) !important;
}



.vid__1 {
    padding: 12px;
    margin: 5px;

}


.vid__2 {
    padding: 12px;
    margin: 5px;
    display: inline-block;
    position: absolute;
    left: 800px;
}


.vid__3 {
    padding: 12px;
    margin: 5px;
    position: absolute;
    left: 1505px
}

/* Layout -----*/
.layout_a-fin {
    background-color: #6BBE92;
    width: 1900px;
    height: 190px;
}
        /* Contacto en layout */
.contact_layout {
    text-decoration: none;
    display: block;
    position: absolute;
	padding: 20px;
	opacity: 0.5;
    left: 909px !important;
    top: 1040px !important;
	color: black;
	font-size: 20px;
	
}

.contact_layout:hover {
	border-radius: 300px;
	background-color: #417559;
	text-shadow: 1px 1px white;
	opacity: 1;
    text-decoration: underline;
}

.copyright_layout {
    text-decoration: none;
	display: block;
	position: absolute;
	left: 880px;
	top: 1180px;
	color: black;
	font-size: 17px;
}

.layout_enc {
    background-color: white;
    width: 1900px;
    height: 20px;
}

.layout_twitter {
    text-decoration: none;
    display: block;
    position: absolute;
    left: 300px !important;
    top: 1102px;
	color: black;
	font-size: 17px;
}


.layout_ins {
    top: 1102px;
    left: 1646px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
	transition: transform .2s;
}

.layout_ins:hover {
    border-radius: 7px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
	transform: scale(1.5);
}


.layout_siguenos {
    top: 1080px;
    left: 1638px;
    width: 40px;
    height: 40px;
    position: absolute;
}

